blis==0.7.11
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
confection==0.1.5
cymem==2.0.8
idna==3.10
language_data==1.2.0
marisa-trie==1.2.1
MarkupSafe==3.0.2
murmurhash==1.0.10
numpy==1.21.6
packaging==24.2
pathlib_abc==0.1.1
preshed==3.0.9
pydantic==1.10.19
scipy==1.11.4
six==1.16.0
smart-open==6.4.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.1.12
threadpoolctl==3.5.0
tqdm==4.67.0
typer==0.7.0
typing_extensions==4.12.2
urllib3==2.2.3
wasabi==1.1.3